
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica;

    outline: 1px dotted red;

}

.header {
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 15px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    padding: 0px 200px;
}

.header-links {
    gap: 15px;
    padding: 0 200px;
    list-style-type: none;
    display: flex;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}





.top-content {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    padding: 100px 0;
    gap: 100px;
}

.main-text {
    padding-left: 200px;
    flex: 1 1 0;
}

.main-image img {
    width: 500px; 
    height: 225px;
    object-fit: cover;
    padding-right: 200px;
}

.main-text strong{
    font-size: 48px;
}

.sub-text {
    color: #E5E7EB;
    font-weight: 100;
    font-size: 18px;
    filter: contrast(0.6);
    margin-top: 5px;
    margin-bottom: 15px;
}

.main-text button {
    background: royalblue;
    color: #F9FAF8;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 10px;
    border: 1px solid #3882F6;
}





.body-container {
    margin: 100px 0;
    color: #1F2937;
}

.body-header{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center; /*Important to remember that you can use this command to align images too */
}

.container {
    max-width: 140px;
}

.container img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 2.5px solid #3882F6;
    border-radius: 10px;
    box-sizing: border-box;
}

.container p {
    text-align: center;
    font-weight: light;
    font-size: 15px;
    font-weight: 300;
}





.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 0;
}

.quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content p {
    width: 780px;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-author {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-author p {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-weight: bold;
}





.sign-up {
    background-color: #3882F6;
    padding: 50px 0px;
    width: 800px;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
}

.signup-content{
    color: white;
}

.signup-main-content{
    font-size: 20px;
}

.signup-sub-content{
    font-size: 14px;
    font-weight: 100;
}

.sign-up button {
    background: #3882F6;
    color: #F9FAF8;
    cursor: pointer;
    padding: 0px 24px; 
    border-radius: 5px;
    border: 1px solid white;
    height: 25px;
    align-self: center;
}





.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 200;
    margin: auto;
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
}